<div id="map" style="height: 600px;"></div> 
<script
    src="https://maps.googleapis.com/maps/api/js?key=<%= @googleapikey %>&callback=initMap&libraries=&v=weekly"
    async>
</script>
<script>
  let map;

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 34.96044797500092, lng: 138.4044472577484 },
      zoom: 15,
    });
    <% @sales_points.each do |sales_point| %>
      const spLatLng<%=sales_point.id%> = { lat: <%=sales_point.lat%>, lng: <%=sales_point.lon%> };
      new google.maps.Marker({
        position: spLatLng<%=sales_point.id%>,
        map,
        title: "<%=sales_point.description%>",
        });
    <% end %>
   
  }

</script>
