<div class="row">
    <div class="col-5">
        <div class="card shadow">
            <div class="card-header text-center">
                <h2>販売ポイント編集✏️</h2>
            </div>
            <div class="card-body">
                <%= render 'form', sales_point: @sales_point %>
            </div>
            <div class="card-footer">
                <%= link_to '🔙戻る', sales_points_path, class:"btn btn-outline-primary" %>
                <%= link_to '👁‍🗨表示', @sales_point, class:"btn btn-outline-success" %>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div id="map" class="shadow"></div>
        <style>
            #map{
                height: 100%;
            }
        </style>
        
        <script
        src="https://maps.googleapis.com/maps/api/js?key=<%= @googleapikey %>&callback=initMap&libraries=&v=weekly"
        async>
        </script>
    </div>
</div>

<script>
  let map;

  function initMap() {
    const myLatLng = { lat: <%=@sales_point.lat%>, lng: <%=@sales_point.lon%> };
    map = new google.maps.Map(document.getElementById("map"), {
      center: myLatLng,
      zoom: 15,
    });
    new google.maps.Marker({
    position: myLatLng,
    map,
    title: "<%=@sales_point.description%>",
    });
    google.maps.event.addListener(map, 'click', function(event){
      document.getElementById('latlongclicked').value = event.latLng.lat();
      document.getElementById('lonlongclicked').value = event.latLng.lng();
    });
  }
</script>