<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-group">
    <%= form.label :name, "è£½å“å", class:'input-group-prepend col-3 input-group-text', id:'basic-addon1' %>
    <%= form.text_field :name, class:'form-control'%>
  </div>

  <div class="field input-group mt-1">
    <%= form.label :description, "è©³ç´°", class:"input-group-prepend col-3 input-group-text", id:"basic-addon1" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field input-group mt-1">
    <%= form.label :dprice, "ï¾ƒï¾žï½¨ï¾Œï½«ï¾™ï¾„ä¾¡æ ¼", class:"input-group-prepend col-3 input-group-text", id:"basic-addon1" %>
    <%= form.text_field :dprice, class:"form-control" %>
    <span class="input-group-text">ðŸ’±</span>
    <%= form.label :status,"çŠ¶æ…‹", class:'input-group-text' %>
    <%= form.select :status, {'è£½é€ ä¸­æ­¢': 0, 'è²©å£²ä¸­': 1}, {class:'form-control', required: true} %>
  </div>
  
  <div class="input-group mb-3 mt-1">
    <%= form.label :image, "å†™çœŸ", class:"input-group-prepend col-3 input-group-text" %>
    <%= form.file_field :image, class:"form-control" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions d-grid gap-2">
    <%= form.submit "ç™»éŒ²ðŸ’¾", class: "btn btn-outline-info mt-1" %>
  </div>
<% end %>
