<nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: #e1f0fd;">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>", style= 'font-family: "HGP行書体"; letter-spacing: -3px; color: #00bFFF;'>
        <%= image_tag("main/stallmarket.png", alt: "booth21logo", size: "30x30", id:"booth21logo") %>
        IBMDX🌬ARURA💨
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                🤵🏻‍♀️🤵🏻会員
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                <li><a class="dropdown-item" href="<%= sales_points_path %>">🏪無人販売・販売店</li>
                <li><a class="dropdown-item" href="<%= products_path %>">🍱製品</li>
                <li><a class="dropdown-item" href="#">🏷ラベル</li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">👤ﾌﾟﾛﾌｨｰﾙ</li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "🕳ログアウト", destroy_user_session_path, :method => :delete, class: "dropdown-item" %></li>
              <% else %>
                <li><a class="dropdown-item" href="<%= new_user_session_path %>">ログイン</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="<%= new_user_registration_path %>">📝新規登録</a></li>
              <% end %>
            </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            楽しみ👩🏻‍🌾❗️
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">🎈プロモーション</a></li>
            <li><a class="dropdown-item" href="#">🐲イベント</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">その他情報⛩</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="検索" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">🔍</button>
      </form>
    </div>
  </div>
</nav>